body {
    background-color:#264fb5;
    padding-top: 80px;
    padding-bottom: 40px;
}

.landing-page {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
  }

h1 {
    text-align: center;
    font-size: 5em;
    color: white;
}

h4 {
    text-align: center;
    font-size: 1.5em;
    color: white;
}

a:visited {
    color: white;
}

button {
    border-radius: 8px;
    color: white;
    text-align: center;
}

.centered-buttons {
    text-align:center;

}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.button1 {
    color: white;
    background-color: #264fb5;
    border-color: white;
}

.button1:hover {
    color: black;
    background-color: #264fb5;
    border-color: white;
}

.button2 {
    color: white;
    background-color: #f28449;
    border-color: #f28449;
}