{% extends "layout.html" %}
{% block content %}
    <h3>Streaming Service Analysis</h3>
    <div class="row">
        <div class="col-md-12">
            <img src="static/img/visualization1.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="static/img/visualization2.png" width="100%">
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="static/img/visualization3.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="static/img/visualization4.png" width="100%">
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="static/img/visualization4.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="static/img/visualization2.png" width="100%">
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="static/img/visualization2.png" width="100%">
        </div>
    </div>
{% endblock content %}