{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p></p>
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h3>Streaming Service Analysis</h3>
    {% if result is not defined %}
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline float-right" action="/analyze" method="post">
                <div class="form-group mb-2">
                    <labelclass="sr-only">Want to load a previous prediction?&nbsp;&nbsp;</label>
                  </div>
                <div class="form-group mb-2">
                  <label for="email" class="sr-only">Email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="email@example.com">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <label for="code" class="sr-only">Code</label>
                  <input type="text" class="form-control" id="code" name="code" placeholder="Random Code">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Load Prediction</button>
                <a class="btn btn-secondary mb-2 ml-2" href="/interview" role="button">Create New Prediction</a>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="card align-center">
                <h3>Congratulations!</h3>
                <img src="static/img/{{ result.logo }}" width="300px"/>
                <p>Your service is {{ result.name }}!</p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="card" id="ratingNetflix">
                <div class="card-body">
                    <h5 class="card-title"><img src="static/img/netflix.svg" width="150px" style="border-radius: 2%;" /></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card" id="ratingHulu">
                <div class="card-body">
                    <h5 class="card-title"><img src="static/img/hulu.svg" width="150px" style="border-radius: 2%;" /></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card" id="ratingPrime">
                <div class="card-body">
                    <h5 class="card-title"><img src="static/img/amazon_prime.svg" width="150px" style="border-radius: 2%;" /></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card" id="ratingDisney">
                <div class="card-body">
                    <h5 class="card-title"><img src="static/img/disney_plus.svg" width="150px" style="border-radius: 2%;" /></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div id="chart"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div id="prices"></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div id="vis"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div id="titles"></div>
            </div>
        </div>
    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatterPlot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/genreBar.js') }}"></script>
{% endblock content %}