{% extends "layout.html" %}
{% block content %}
    <h3>Streaming Service Analysis</h3>
    {% if card is not defined %}
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline float-right" action="/analyze" method="post">
                <div class="form-group mb-2">
                    <labelclass="sr-only">Want to load a previous prediction?&nbsp;&nbsp;</label>
                  </div>
                <div class="form-group mb-2">
                  <label for="email" class="sr-only">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="email@example.com">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <label for="code" class="sr-only">Password</label>
                  <input type="text" class="form-control" id="code" placeholder="Random Code">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Load Prediction</button>
                <a class="btn btn-secondary mb-2 ml-2" href="/interview" role="button">Create New Prediction</a>
              </form>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <img src="static/img/visualization1.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="static/img/visualization2.png" width="100%">
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="static/img/visualization3.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div id="movies"></div>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="static/img/visualization4.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div id="chart"></div>
        </div>
    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatterPlot.js') }}"></script>
{% endblock content %}