<h2>API Documentation</h2>

<p>There are several API endpoints available to grab our raw data sets.</p>

<ul>
    <li>Streaming Services - <a href="/api/v1/services">/api/v1/services</a></li>
    <li>Movie Details - <a href="/api/v1/movies">/api/v1/movies</a></li>
    <li>TV Shows Details- <a href="/api/v1/shows">/api/v1/shows</a></li>
    <li>Movie & Show Titles - <a href="/api/v1/titles">/api/v1/titles</a></li>
    <li>Genres - <a href="/api/v1/genres">/api/v1/genres</a></li>
    <li>Countries - <a href="/api/v1/countries">/api/v1/countries</a></li>
    <li>Languages - <a href="/api/v1/languages">/api/v1/languages</a></li>
</ul>