{% extends "layout.html" %}
{% block content %}
    <h1>What is stream.me?</h1>
    <p><strong>stream.me</strong> is a service that analyzes the available movies and shows on four of the most popular streaming services. 
        We find out what you're into, then use a proprietary algorithm to select the best streaming service for you.</p>
        <p>Want to find out which service is best for your? Click on our "Predict" button above.</p>
    <p>We're currently analyzing the following four services:</p>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card mb-4 shadow-sm">
                <img src="static/img/netflix.svg" width="100%"/>
              <div class="card-body">
                <p class="card-text"><a href="https://www.netflix.com/" target="_blank">Netflix</a></p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">$8.99 per month</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="card mb-4 shadow-sm">
                <img src="static/img/hulu.svg" width="100%"/>
              <div class="card-body">
                <p class="card-text"><a href="https://www.hulu.com/" target="_blank">Hulu</a></p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">$5.99 per month</small>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="card mb-4 shadow-sm">
                <img src="static/img/amazon_prime.svg" width="100%"/>
              <div class="card-body">
                <p class="card-text"><a href="https://www.primevideo.com/" target="_blank">Amazon Prime</a></p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">$12.99 per month</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="card mb-4 shadow-sm">
                <img src="static/img/disney_plus.svg" width="100%"/>
              <div class="card-body">
                <p class="card-text"><a href="https://www.disneyplus.com/" target="_blank">Disney +</a></p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">$6.99 per month</small>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock content %}