{% extends "landing_layout.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<img class="centered-image" src="static/images/videoplayericon.jpg">

    <h1>stream.me</h1>
    <h4>Streaming prediction tailored to your interests.</h4>
<div class="centered-buttons">
    <a href="/interview" class="button2 btn btn-link">
         Predict
    </a>

    <a href="/analyze" class="button1 btn btn-link">
        Analyze
    </a>
</div>

   <div id="chart"></div>

   <script src="https://d3js.org/d3.v4.min.js"></script>
   <script type="text/javascript" src="static/js/scatterPlot.js"></script>

{% endblock content %}