{% extends "layout.html" %}
{% block content %}
    <h1>User Interview</h1>
    <p>
        What is your favorite Genre(s) of Movie/Show?
        <input />
        (type ahead allowing one or more entries)
    </p>
    <p>
        Are there any children in your household?
        <input />
        (yes or no radio button)
    </p>
    <p>
        What is your preference on age appropriate content?
        <input />
        (one or more checkboxes)
    </p>
    <p>
        What is your preferred viewing language?
        <input />
        (type ahead allowing one or more entries)
    </p>
    <p>
        Would you like to see movies from a specific Countries?
        <input />
        (type ahead allowing one or more entries)
    </p>
    <p>
        What do you enjoy more? Movies, TV Shows, or both?
        <input />
        (potential slider input)
    </p>
    <p>
        What are some of your favorite movies?
        <input />
        (type ahead allowing one or more entries)
    </p>
    <p>
        What year were you born?
        <input />
    </p>
{% endblock content %}