{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p></p>
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
   <h3>User Interview</h3>
   <form action="/interview" method="post">
      <p>
         What is the most you are willing to pay for online streaming service?
         <select class="custom-select" name="moviesandtvshowspay">
            <option selected>Please select here</option>
            <option value="1">$5-$8</option>
            <option value="2">$9-$13</option>
            <option value="3">$14-$20</option>
         </select>
      </p>
      <p>
         What year group you were you born in?
         <select class="custom-select" name="moviesandtvshowsbirthday">
            <option selected>Please select here</option>
            <option value="1">1965-1970</option>
            <option value="2">1971-1975</option>
            <option value="3">1976-1980</option>
            <option value="4">1981-1985</option>
            <option value="5">1986-1990</option>
            <option value="6">1991-1995</option>
            <option value="7">1996-2000</option>
            <option value="8">2001-2005</option>
         </select>
      </p>
      What is your favorite Movie or Tv Show Genre?
      <select class="custom-select" name="moviesandtvshowsgenre">
         <option selected>Please select here</option>
         <option value="1">Action & Comedy</option>
         <option value="2">Comedy & Drama</option>
         <option value="3">Drama & Crime</option>
         <option value="4">Western</option>
         <option value="5">Mystery & Crime</option>
         <option value="6">Animation & Adventure</option>
         <option value="7">Horror & Thriller</option>
         <option value="8">Documentary</option>
      </select>
      </p>
      <p>
         What language do you view Movies and Tv Shows in?
         <select class="custom-select" name="moviesandtvshowslanguage">
            <option selected>Please select here</option>
            <option value="1">English</option>
            <option value="2">Japanese</option>
            <option value="3">French</option>
            <option value="4">Italian</option>
            <option value="5">Spanish</option>
            <option value="6">German</option>
            <option value="7">Russian</option>
            <option value="8">Hebrew</option>
            <option value="9">Arabic</option>
            <option value="10">Nepali</option>
            <option value="11">Hindi</option>
            <option value="12">Greek</option>
            <option value="13">American Sign Language</option>
            <option value="14">Nyanja</option>
            <option value="15">Afrikaans</option>
            <option value="16">Zulu</option>
            <option value="17">Xhosa</option>
            <option value="18">Southern Sotho</option>
            <option value="19">Korean</option>
            <option value="20">Hawaiian</option>
            <option value="21">Saami</option>
            <option value="22">Swedish</option>
            <option value="23">Cantonese</option>
            <option value="24">Nyanja</option>
            <option value="25">Cantonese</option>
            <option value="26">Mandarin</option>
            <option value="27">Japanese</option>
            <option value="28">Sinhalese</option>
            <option value="29">Portuguese</option>
            <option value="30">Urdu</option>
            <option value="31">Awadhi</option>
            <option value="32">Portuguese</option>
            <option value="33">Latin</option>
            <option value="34">Telugu</option>
            <option value="35">Tamil</option>
            <option value="36">Lingala</option>
            <option value="37">Kurdish</option>
            <option value="38">Persian</option>
            <option value="39">Bengali</option>
            <option value="40">Thai</option>
            <option value="41">Berber languages</option>
            <option value="42">Hungarian</option>
            <option value="43">Turkish</option>
            <option value="44">Yiddish</option>
            <option value="45">Swahili</option>
            <option value="46">Ukrainian</option>
            <option value="47">Mandarin</option>
            <option value="48">Marathi</option>
            <option value="49">Norwegian</option>
            <option value="50">Romanian</option>
            <option value="51">Estonian</option>
            <option value="52">Vietnamese</option>
            <option value="53">Polynesian</option>
            <option value="54">Aboriginal</option>
            <option value="55">Quechua</option>
            <option value="56">Khmer</option>
            <option value="57">Scottish Gaelic</option>
            <option value="58">Danish</option>
            <option value="59">Slovenian</option>
            <option value="60">Turkmen</option>
            <option value="61">Icelandic</option>
            <option value="62">Mapudungun</option>
            <option value="62">Pushto</option>
            <option value="62">Basque</option>
            <option value="62">Marathi</option>
            <option value="62">Wolof</option>
            <option value="62">Malayalam</option>
            <option value="62">Serbo-Croatian</option>
            <option value="62">Tagalog</option>
         </select>
      </p>
      <p>
         Which countries would you like to you view your specific Movies and Tv Shows from?
         <select class="custom-select" name="moviesandtvshowscountries">
            <option selected>Please select here</option>
            <option value="1">United States</option>
            <option value="2">United Kingdom</option>
            <option value="3">Italy</option>
            <option value="4">Spain</option>
            <option value="5">Germany</option>
            <option value="6">France</option>
            <option value="7">Poland</option>
            <option value="8">West Germany</option>
            <option value="9">India</option>
            <option value="10">Mexico</option>
            <option value="11">Ireland</option>
            <option value="12">Canada</option>
            <option value="13">Australia</option>
            <option value="14">South Africa</option>
            <option value="15">New Zealand</option>
            <option value="16">South Korea</option>
            <option value="17">Hong Kong</option>
            <option value="18">Japan</option>
            <option value="19">Belgium</option>
            <option value="20">East Germany</option>
            <option value="21">Sweden</option>
            <option value="22">Finland</option>
            <option value="23">China</option>
            <option value="24">Denmark</option>
            <option value="25">Luxembourg</option>
            <option value="26">Austria</option>
            <option value="27">Netherlands</option>
            <option value="28">Thailand</option>
            <option value="29">Switzerland</option>
            <option value="30">Hungary</option>
            <option value="31">Malawi</option>
            <option value="32">Ukraine</option>
            <option value="33">United Arab Emirates</option>
            <option value="34">Brazil</option>
            <option value="35">Uruguay</option>
            <option value="36">Saudi Arabia</option>
            <option value="37">Jordan</option>
            <option value="38">Taiwan</option>
            <option value="39">Philippines</option>
            <option value="40">Argentina</option>
            <option value="41">Qatar</option>
            <option value="42">Romania</option>
            <option value="43">Pakistan</option>
            <option value="44">Iraq</option>
            <option value="45">Libya</option>
            <option value="46">Liberia</option>
            <option value="47">Turkey</option>
            <option value="48">Lebanon</option>
            <option value="49">Jamaica</option>
            <option value="50">Namibia</option>
            <option value="51">Zimbabwe</option>
            <option value="52">Holy See (Vatican City State)</option>
            <option value="53">Singapore</option>
            <option value="54">Indonesia</option>
            <option value="55">Bulgaria</option>
            <option value="56">Senegal</option>
            <option value="57">Norway</option>
            <option value="58">Chile</option>
            <option value="59">Peru</option>
            <option value="60">Israel</option>
            <option value="61">Greece</option>
            <option value="62">Morocco</option>
         </select>
      </p>
      <p>
         What do you enjoy more Movies, Tv Shows, or Both?
      <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="moviesandtvshowstypes" id="moviesandtvshowstypes1" value="option1">
         <label class="form-check-label" for="moviesandtvshowstypes1">Movies</label>
      </div>
      <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="moviesandtvshowstypes" id="moviesandtvshowstypes2" value="option2">
         <label class="form-check-label" for="moviesandtvshowstypes2">Tv Shows</label>
      </div>
      <div class="form-check form-check-inline">
         <input class="form-check-input" type="radio" name="moviesandtvshowstypes" id="moviesandtvshowstypes3" value="option3">
         <label class="form-check-label" for="moviesandtvshowstypes3">Both</label>
      </div>
      </p>
      <p>
         Does your household size include children?
      <div class="custom-control custom-radio">
         <input type="radio" id="moviesandtvshowschildren1" name="moviesandtvshowschildren" class="custom-control-input">
         <label class="custom-control-label" for="moviesandtvshowschildren1">Yes</label>
      </div>
      <div class="custom-control custom-radio">
         <input type="radio" id="moviesandtvshowschildren2" name="moviesandtvshowschildren" class="custom-control-input">
         <label class="custom-control-label" for="moviesandtvshowschildren2">No</label>
      </div>
      </p>
      <p>
         What are some of your favorite Movies or Tv Shows?
      <div class="form-group">
         <label for="moviesandtvshowsfavorites"></label>
         <textarea class="form-control" name="moviesandtvshowsfavorites" rows="3"></textarea>
      </div>
      </p>
   <form>
      <div class="form-group">
         <label for="InputEmail1">Email address</label>
         <input type="email" class="form-control" name="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
         <small name="InputEmail" class="form-text text-muted">We won't sell your email address!</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
{% endblock content %}